/*===============================
=            Buttons            =
===============================*/

.btn {
  border: medium none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  padding: 8px 20px;
  transition: all 0.25s linear 0s;
}
/*=====================================
=            Button styles            =
=====================================*/
.btn.btn-primary,
.btn.btn-danger,
.btn.btn-default,
.btn.btn-success,
.btn.btn-info,
.btn.btn-hollow,
.btn.btn-warning,
.btn.btn-fb,
.btn.btn-tw {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
  -o-text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
  -webkit-text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
  -ms-text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
  -ms-box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
}

.btn.btn-lg {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.471;
  padding: 10px 20px;
}
.btn.btn-md {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 6px 14px;
}
.btn.btn-sm {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  line-height: 1.5;
  padding: 4px 8px;
}
.btn.btn-xs {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
}

.btn.btn-hollow{
  box-shadow: none;
  border-radius: 0;
  background-color: rgba(255,255,255,.1);
  border:2px solid $brand-bg-color;
  color:$brand-fg-color;
}

