/*======================================
=            Gallery Module            =
======================================*/
.gallery {
    margin-bottom: $spacer;
}

.carousel {
  background: $gray-lighter;
}

.carousel-cell {
  text-align: center;
  margin-right: $spacer;
  border-radius: 5px;
  width: 100%; /* full width */
  @include rem(max-height, 350px);
  @include rem(height, 250px);

  @include media-breakpoint-up(sm){
    @include rem(max-height, 500px);
    @include rem(height, 400px); 
  }

  @include media-breakpoint-up(md){
    @include rem(max-height, 600px);
    @include rem(height, 500px); 
  }
}

/* fade in image when loaded */
.carousel-cell-image {
  transition: opacity 0.4s;
  opacity: 0;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}