/*==============================
=            Navbar            =
==============================*/
.navbar-light {
  .navbar-brand {
  		font-weight:700;
   		background-color:$brand-bg-color;
   		color:white;
   		border: 1px dotted $brand-bg-color;
   		padding: 5px;

    @include hover-focus {
    	color:$brand-fg-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;

      @include hover-focus {
        color: $navbar-light-hover-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      @include plain-hover-focus {
        color: $navbar-light-active-color;
      }
    }
  }

  .navbar-divider {
    background-color: rgba(0,0,0,.075);

  }
}



