$icon-font-path: '../fonts/';
@import "variables";
// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/sweetalert2/src/sweetalert2.scss";
// endbower
@import "mixins";
@import "globals";
@import "nav";
@import "gallery";
@import "modals";
@import "buttons";
@import "forms";
@import 'ajaxloader';

.jumbotron {
    background-size: 100%;
    background-position-y: center;
    padding-top:30px;
    background-size:cover;
    background-image: url('/img/background.jpg');
}

.browserupgrade {
  margin: 0.2em 0;
  background: $gray-light;
  color: $black;
  padding: 0.2em 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: $gray-dark;
  border-top: 1px solid $brand-bg-color;
}

.container-fluid .section {
	margin-bottom: 50px;
	margin-top: 100px;
}

.card-block {
	margin-bottom: 10rem;
	height: 200px;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
}




