$icon-font-path: '../fonts/';
@import "variables";
// bower:scss
@import "bower_components/sweetalert2/src/sweetalert2.scss";
@import "bower_components/bootstrap/scss/bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@import "mixins";
@import "globals";
@import "nav";
@import "gallery";
@import "modals";
@import "buttons";
@import "forms";


.browserupgrade {
  margin: 0.2em 0;
  background: $gray-light;
  color: $black;
  padding: 0.2em 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: $gray-dark;
  border-top: 1px solid $brand-bg-color;

}

.swal2-container.fade{
  opacity: 1;
}

